*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navheader{
    height: 100vh;
    width: 100vw;
    background: cadetblue;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    
}
    nav ul li {
    display: inline-block;
    
    padding: 15px;
}
nav ul li a{
    font-weight: bold;
    color:white;
}
a{
    text-decoration: none;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.logo::first-letter{
    font-size: 40px;
    border: 2px solid black;
    border-right: transparent;
    color: orange;
}
.navbtn{
    background-color: orange;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    font-weight: 700px;
    text-transform: uppercase;
}
.navbtn:hover{
    background: white;
    color: orange;
}
.info{
    position: absolute;
    top: 40%;
    left: 12%;
}
.info h1{
    font-size: 60px;
    font-weight: 800px;
    line-height: 100px;
}
.info h1 span{
    color: orange;
    font-size: 90px;

}
.info .infotitle{
    font-size: 22px;
    width: 75%;
}
.dwncv{
    background-color: white;
    color: orange;
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 25px;
    text-align: center;
    font-weight: 700px;
    cursor: pointer;
}
.image{
    position: absolute;
    top: 20%;left: 68%;
    
}
.image img{
    border-radius: 80px;
}
.aboutme{
    height: 100vh;
    width: 100vw;
    background:rgb(28,119,121);
}
.aboutme img{
    position: absolute;
    left: 20%;
    top: 120%;
    border-radius: 10%;
}
.dets{
    position: absolute;
    left: 50%;
    top: 120%;
}
.jobinfo{
    font-size: 22px;
    width: 320px;
    text-align: justify;
}
.dets h1{
    color: orange;
    font-size: 65px;
}
.jobtitle{
    color: white;
    font-weight: 800;
    line-height: 50px;
}
.talkbtn{
    background-color: orange;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    margin-top: 25px;
    text-align: center;
    color: white;
    font-weight: 700;
     cursor: pointer;
}
.Servicecon{
    height: 100vh;
    width: 100vw;
    background: cadetblue;
    display:flex ;
    justify-content: space-evenly;
}
.Servicecon h1{
    text-align: center;
    position: absolute;
    color: orange;
    font-size: 65px;
    margin: 6%;

}
.box{
    height: 360px;
    width: 300px;
    background-color: rgb(17,109,112);
    margin-top: 15%;
    border-radius: 10%;
    text-align: center;
    overflow: hidden;
    }
.box img{
    height: 60px;
    width: 60px;
    margin: 15px 0px;
}
.box h3{
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    
}
 .box p{
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    

}
.boxbtn{
    margin-top: 50px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    text-transform: uppercase;
}



